
<div class="flex flex-col w-full">
    <div class="bg-white shadow-2xl w-full flex justify-center">
        <img src="/assets/images/logo/logo2.png" alt="logo" class="h-12 w-auto m-3">
    </div>




    <div class="flex w-full items-center px-5 bg-gray-200 shadow" style="height: 80px">
        <mat-icon svgIcon="heroicons_outline:user-circle"></mat-icon>
        <h1 class="font-bold text-2xl px-3 text-accent">
            المعلومات الشخصية
            <small class="text-secondary"> #{{profileInfo?.id}}</small>
        </h1>
    </div>

    <!--    -->

    <div>
        <div class="my-3 mx-3">
            <header class="flex justify-between items-center">
                <h2 class="font-bold text-xl mx-2 text-secondary">بيانات الحاج</h2>

            </header>

            <div class="bg-white rounded mt-3 p-3 shadow flex flex-wrap">
                <div class="flex items-baseline w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500"> الاسم:</label>
                    <p class="font-bold text-lg">{{profileInfo?.name}}</p>
                </div>

                <div class="flex items-baseline w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500"> رقم الحوال:</label>
                    <p class="font-bold text-lg">{{profileInfo?.mobile}}</p>
                </div>

                <div class="flex items-baseline w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500"> جوال أحد الأصدقاء:</label>
                    <p class="font-bold text-lg">{{profileInfo?.mobile2}}</p>
                </div>


                <div class="flex items-baseline w-1/2 py-2 ">
                    <label class="px-2 text-sm text-cyan-500">العمر:</label>
                    <p class="font-bold text-lg">{{profileInfo?.age}} <small>سنة</small></p>
                </div>

                <div class="flex items-baseline w-1/2 py-2 ">
                    <label class="px-2 text-sm text-cyan-500">هل حالة خاصة؟:</label>
                    <p class="font-bold text-lg">{{profileInfo?.disabled? 'نعم' : 'لا'}}</p>
                </div>

                <div class="flex flex-col  w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500">حالة طبية:</label>
                    <p class="px-2 font-bold text-lg">{{profileInfo?.medicalCase}}</p>
                </div>

                <div class="flex flex-col  w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500">ملاحظة أو معلومة أضافية:</label>
                    <p class="px-2 font-bold text-lg">{{profileInfo?.info}}</p>
                </div>

                <div class="border-b h-1 w-full mt-4 mb-2"></div>
                <div class="w-full flex justify-between my-1">
                    <div>

                    </div>

                    <div class="flex items-baseline ">
                        <button mat-raised-button color="accent">تعديل البيانات</button>
                    </div>
                </div>
            </div>

        </div>


        <div class="my-3 mx-3">
            <header class="flex justify-between items-center">
                <h2 class="font-bold text-xl mx-2 text-secondary">معلومات عن الحملة والقافلة</h2>

            </header>
            <div class="bg-white rounded mt-3 p-3 shadow flex flex-wrap">
                <div class="flex items-baseline w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500"> اسم الحملة:</label>
                    <p class="font-bold text-lg">{{hamlaInfo?.name}}</p>
                </div>

                <div class="flex items-baseline w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500"> رقم التواصل:</label>
                    <p class="font-bold text-lg">{{hamlaInfo?.mobile}}</p>
                </div>

                <div class="flex flex-col  w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500">عنوان مكان الاقامة:</label>
                    <p class="px-2  text-lg">{{hamlaInfo?.homeAddress}} <br>
                        <a href="#" class="text-blue-800 text-xs" >اضغط هنا للوصول للمكان من خلال خرائط جوجل</a>
                    </p>
                </div>

                <div class="border-b h-1 w-full mt-4 mb-2"></div>

                <div class="flex items-baseline w-full py-2 ">
                    <label class="px-2 text-sm text-cyan-500">وجهة القافلة:</label>
                    <p class="font-bold text-lg">{{hamlaInfo?.target}}</p>
                </div>


                <div class="flex items-baseline w-1/2 py-2 ">
                    <label class="px-2 text-sm text-cyan-500">اسم قائد القافلة:</label>
                    <p class="font-bold text-lg">{{hamlaInfo?.tripLeaderName}}</p>
                </div>

                <div class="flex items-baseline w-1/2 py-2 ">
                    <label class="px-2 text-sm text-cyan-500">جواله:</label>
                    <p class="font-bold text-lg">{{hamlaInfo?.tripLeaderMobile}}</p>
                </div>

            </div>
        </div>


    </div>
</div>
