<div class="flex flex-col w-full">
    <div class="flex w-full items-center px-5 bg-gray-200 shadow" style="height: 80px">
        <button mat-icon-button [routerLink]="['/quafel']">
            <mat-icon svgIcon="heroicons_outline:chevron-right"></mat-icon>
        </button>
        <h1 class="font-bold text-2xl px-3 text-accent">
            الشروط و الاحكام

        </h1>
    </div>
    <div class="p-3">



        <article class="mt-2 px-4">

            <h2 class="font-bold text-xl mb-2" > الشروط و الاحكام</h2>


        <p  >

            •	تقوم منصة رادار الحج بطلب الاذن للوصول الى مواقع الحاج/المعتمر بقبول هذه الخدمة، فإنك توافق على تقاسم المعلومات بشأن أماكن تواجده.<br>
            •	الحملة مسؤولة عن تمام وصحة بيانات الحاج/المعتمر الموجودة على هذه المنصة.<br>
            •	الحملة مسؤولة عن تمام وصحة البيانات التي تقوم بإرسالها من خلال هذه المنصة.<br>
            •	يجب التأكد من ارسال رابط المنصة على الجوال المسجل لكل حاج/معتمر.<br>
            •	على الحاج/المعتمر التأكد من طباعة الباركود على الأسوار الخاصة به.
        </p>

        </article>






    </div>
</div>




