<div class="flex flex-col w-full">
    <div class="flex w-full items-center px-5 bg-gray-200 shadow" style="height: 80px">
        <button mat-icon-button [routerLink]="['/quafel']">
            <mat-icon svgIcon="heroicons_outline:chevron-right"></mat-icon>
        </button>
        <h1 class="font-bold text-2xl px-3 text-accent">
            من نحن؟

        </h1>
    </div>
    <div class="p-3">
        <article class="px-4">
            <h2 class="font-bold text-xl mb-2">عن ردار الحج</h2>
            <p>بدأت رحلة منصة رادار الحج لخلق تجربة مميزة لضيوف الرحمن واثراء تجربة الحجاج والعُمّار يأتي
                الاحتياج المتزايد لحلول تقنية تساعد في تسهيل رحلة الحج والعمرة بإنشاء منصة تحتوي على جميع الحملات
                المسجلة
                لدى
                وزارة
                الحج والعمرة لتتبع القوافل بحيث يمكن للحاج او المعتمر متابعة قائد القافلة على الخارطة، بالإضافة الى
                استطاعة
                الحاج او
                المعتمر تتبع القافلة في حال ضلَّ عن القافلة.</p>
        </article>

        <article class="mt-2 px-4">

            <h2 class="font-bold text-xl mb-2">الرسالة و الرؤية</h2>
            <p class="my-3">
                <span class="font-bold">الرؤية:</span>

                أن يبارك الله في ونستمر ببذل قصارى جهدنا في تقديم أفضل وأحدث التقنيات في مسار الحج والعمرة
            </p>
            <p class="my-3">
                <span class="font-bold">الرسالة:</span>
                نسعى لخلق تجربة مميزة لضيوف الرحمن بالاعتماد على التقنية الحديثة وإعادة تقييم حاجات الحاج والمعتمر
                لنساعد في
                تسهيل
                رحلة الحج والعمرة.
            </p>
            <p class="my-3">
                <span class="font-bold"> الهدف:</span>
                بذل الجهد لخلق تجربة مميزة لضيوف الرحمن واثراء تجربة الحجاج والعُمّار في تسهيل رحلة الحج والعمرة بإنشاء
                منصة
                تساعد
                شركات الحملات من التحكم بالحج والعمرة بكل سلاسة.
            </p>


            <p>


        </article>


        <article class="mt-2 px-4">

            <h2 class="font-bold text-xl mb-2">اتصل بنا</h2>
            <a href="#">0115432222 </a>
            <br>
        </article>

    </div>
</div>




